<div class="col-md-5 col-md-offset-3">
    <div class="form-group">
        <br />
        <img id="output" width="260" height="220" src="@Url.Content(Model.ListBW2[0].wk_path_img)" onClick="changePicture()" />
        <br /><br />
        <input type="file" name="file" id="choose file" accept="image/*" disabled onchange="loadFile(event)">
    </div>
</div>